*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
entorno/
.env
.venv
db.sqlite3
.git
.gitignore
.DS_Store
*.log
*.pot
*.mo
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
*.swp
*.swo
*~
